/************* EXTERNAL RESOURCES *************/
/* latin-ext */
@font-face {
  font-family: 'Chivo';
  font-style: italic;
  font-weight: 300;
  src: local('Chivo Light Italic'), local('Chivo-LightItalic'), url(https://fonts.gstatic.com/s/chivo/v9/va9D4kzIxd1KFrBteUp9gKHuRB39fFz2lg.woff2) format('woff2');
  unicode-range: U+0100-024F, U+0259, U+1E00-1EFF, U+2020, U+20A0-20AB, U+20AD-20CF, U+2113, U+2C60-2C7F, U+A720-A7FF;
}
/* latin */
@font-face {
  font-family: 'Chivo';
  font-style: italic;
  font-weight: 300;
  src: local('Chivo Light Italic'), local('Chivo-LightItalic'), url(https://fonts.gstatic.com/s/chivo/v9/va9D4kzIxd1KFrBteUp9gK_uRB39fFw.woff2) format('woff2');
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
}
/* latin-ext */
@font-face {
  font-family: 'Chivo';
  font-style: italic;
  font-weight: 400;
  src: local('Chivo Italic'), local('Chivo-Italic'), url(https://fonts.gstatic.com/s/chivo/v9/va9G4kzIxd1KFrBtce9flYLMSTfHdQ.woff2) format('woff2');
  unicode-range: U+0100-024F, U+0259, U+1E00-1EFF, U+2020, U+20A0-20AB, U+20AD-20CF, U+2113, U+2C60-2C7F, U+A720-A7FF;
}
/* latin */
@font-face {
  font-family: 'Chivo';
  font-style: italic;
  font-weight: 400;
  src: local('Chivo Italic'), local('Chivo-Italic'), url(https://fonts.gstatic.com/s/chivo/v9/va9G4kzIxd1KFrBtceFflYLMSTc.woff2) format('woff2');
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
}
/* latin-ext */
@font-face {
  font-family: 'Chivo';
  font-style: italic;
  font-weight: 700;
  src: local('Chivo Bold Italic'), local('Chivo-BoldItalic'), url(https://fonts.gstatic.com/s/chivo/v9/va9D4kzIxd1KFrBteVp6gKHuRB39fFz2lg.woff2) format('woff2');
  unicode-range: U+0100-024F, U+0259, U+1E00-1EFF, U+2020, U+20A0-20AB, U+20AD-20CF, U+2113, U+2C60-2C7F, U+A720-A7FF;
}
/* latin */
@font-face {
  font-family: 'Chivo';
  font-style: italic;
  font-weight: 700;
  src: local('Chivo Bold Italic'), local('Chivo-BoldItalic'), url(https://fonts.gstatic.com/s/chivo/v9/va9D4kzIxd1KFrBteVp6gK_uRB39fFw.woff2) format('woff2');
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
}
/* latin-ext */
@font-face {
  font-family: 'Chivo';
  font-style: normal;
  font-weight: 300;
  src: local('Chivo Light'), local('Chivo-Light'), url(https://fonts.gstatic.com/s/chivo/v9/va9F4kzIxd1KFrjDY_Z2sK3kQz__TF0.woff2) format('woff2');
  unicode-range: U+0100-024F, U+0259, U+1E00-1EFF, U+2020, U+20A0-20AB, U+20AD-20CF, U+2113, U+2C60-2C7F, U+A720-A7FF;
}
/* latin */
@font-face {
  font-family: 'Chivo';
  font-style: normal;
  font-weight: 300;
  src: local('Chivo Light'), local('Chivo-Light'), url(https://fonts.gstatic.com/s/chivo/v9/va9F4kzIxd1KFrjDY_Z4sK3kQz__.woff2) format('woff2');
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
}
/* latin-ext */
@font-face {
  font-family: 'Chivo';
  font-style: normal;
  font-weight: 400;
  src: local('Chivo Regular'), local('Chivo-Regular'), url(https://fonts.gstatic.com/s/chivo/v9/va9I4kzIxd1KFrBmQeNVkqDOeTY.woff2) format('woff2');
  unicode-range: U+0100-024F, U+0259, U+1E00-1EFF, U+2020, U+20A0-20AB, U+20AD-20CF, U+2113, U+2C60-2C7F, U+A720-A7FF;
}
/* latin */
@font-face {
  font-family: 'Chivo';
  font-style: normal;
  font-weight: 400;
  src: local('Chivo Regular'), local('Chivo-Regular'), url(https://fonts.gstatic.com/s/chivo/v9/va9I4kzIxd1KFrBoQeNVkqDO.woff2) format('woff2');
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
}
/* latin-ext */
@font-face {
  font-family: 'Chivo';
  font-style: normal;
  font-weight: 700;
  src: local('Chivo Bold'), local('Chivo-Bold'), url(https://fonts.gstatic.com/s/chivo/v9/va9F4kzIxd1KFrjTZPZ2sK3kQz__TF0.woff2) format('woff2');
  unicode-range: U+0100-024F, U+0259, U+1E00-1EFF, U+2020, U+20A0-20AB, U+20AD-20CF, U+2113, U+2C60-2C7F, U+A720-A7FF;
}
/* latin */
@font-face {
  font-family: 'Chivo';
  font-style: normal;
  font-weight: 700;
  src: local('Chivo Bold'), local('Chivo-Bold'), url(https://fonts.gstatic.com/s/chivo/v9/va9F4kzIxd1KFrjTZPZ4sK3kQz__.woff2) format('woff2');
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
}

html,body{
    width: 100%;
    font-family: 'Chivo', sans-serif;
    font-size: 18px;
    font-weight: 300;
    color: #FFF;
    overflow-x: hidden;
}

@media(max-width: 991px){
    html,body{
        font-size: 16px;
    }
}
.btn{
    border-radius: 4px;
}

/************* HELPERS *************/

.grey-pattern-bg{
    background-image: url('../images/grey-pattern.jpg');
    background-size: cover;
    background-position: top center;
    background-repeat: no-repeat;
    background-attachment: fixed;
}
.black-pattern-bg{
    background-image: url('../images/black-pattern.jpg');
    background-size: cover;
    background-position: top center;
    background-repeat: no-repeat;
    background-attachment: fixed;
}
.cream-pattern-bg{
    background-image: url('../images/cream-pattern.jpg');
    background-size: cover;
    background-position: top center;
    background-repeat: no-repeat;
    background-attachment: fixed;
}
@media(max-width: 1023px){
    .grey-pattern-bg,
    .black-pattern-bg,
    .cream-pattern-bg{
        background-attachment: initial;
    }
}

.gold-gradient-bg{
    background-image: linear-gradient(to left, #80745e, #d5c7ad 28%, #98896c 47%, #80745e);
}
.white-box-bg{
    border-radius: 8px;
    background-color: #ffffff;
    box-shadow: 0 25px 25px 0 rgba(0, 0, 0, 0.15);
}

.dark-bg{
    background-color: #18171d;
}

.text-black{color: #18171d;}
.text-orange{color: #f5a623;}
.text-cream{color: #b6a27e;}
.text-dark-cream{color: #A25C08;}
.text-grey{color: #969696;}
.text-brown{color: #8E826B}

.btn-cream{
    background-color: #b6a27e;
    color: #18171d !important;
    box-shadow: 0 0 4.5px 0 rgba(0, 0, 0, 0.25);
}
.btn-cream:hover{
    background-color: #18171d;
    color: #b6a27e !important;
    box-shadow: 0 0 4.5px 0 rgba(0, 0, 0, 0.25);
}

.btn-orange{
    background-color: #f5a623;
    color: #18171d !important;
    box-shadow: 0 0 4.5px 0 rgba(0, 0, 0, 0.25);
}
.btn-orange:hover{
    background-color: #b6a27e;
    color: #18171d !important;
    box-shadow: 0 0 4.5px 0 rgba(0, 0, 0, 0.25);
}

a{
    color: #f5a623;
	transition: all 0.2s linear;
}
a:hover{
    color: #b6a27e;
}

p{
    line-height: 1.67;
}

h1,h2,h3,h4,h5{
    font-weight: 300;
    text-transform: uppercase;
}
h1{
    font-size: 50px;
}
h2{
    font-size: 40px;
    letter-spacing: 0.3px;
}
h3{
    font-size: 34px;
    letter-spacing: 0.1px;
}
h4{
    font-size: 28px;
    letter-spacing: 0.1px;
}
@media(max-width: 991px){
    h1{
        font-size: 40px;
    }
    h2{
        font-size: 34px;
    }
    h3{
        font-size: 28px;
    }
    h4{
        font-size: 20px;
    }
}


nav.navbar{
    padding-top: 25px;
    transition: 0.3s ease all;
    max-width: 100%;
}
nav.sticky{
    background: rgba(255,255,255,0.3);
/*    padding: .5rem 1rem;*/

}

nav .navbar-toggler{
    border: none !important;
}

nav .navbar-brand img{
    max-height: 60px;
    display: block;
}

nav .navbar-brand img.light{
    display: none;
}
nav.light:not(.sticky) img.light{
    display: block;
}
nav.light:not(.sticky) img.dark{
    display: none;
}

nav.navbar .navbar-nav{
    border-radius: 4px;
    background-color: #f9f9f9;
}

nav.navbar .nav-item .nav-link{
    color: #18171d;
    font-size: 12px;
    font-weight: normal;
    letter-spacing: 0.5px;
    padding: 7px 10px;
    text-transform: uppercase;
    line-height: 1;
	margin-right: 0.5em;
}
nav.navbar .nav-item .nav-link.active,
nav.navbar .nav-item .nav-link:hover{
    background: #f5a623;
}

/*
nav.light:not(.sticky) .nav-item .nav-link{
    color: #FFF;
}
nav.light:not(.sticky) .nav-item .nav-link.active,
nav.light:not(.sticky) .nav-item .nav-link:hover{
    color: #000 !important;
    background: #FFF;
}
*/

/*
nav.navbar .nav-item:first-child .nav-link img{
    display: none;
}
nav.sticky .nav-item:first-child .nav-link{
    background: none;
}
nav.sticky .nav-item:first-child .nav-link img{
    display: inline;
    height: 43px;
    width: auto;
}
nav.sticky .nav-item:first-child .nav-link span{
    display: none;
}
*/

nav.navbar .mr-right .nav-item .nav-link{
    color: #FFF;
    padding: 16px 14px;
    border-radius: 4px;
    background-color: #7289da;
    box-shadow: 0 0 4.5px 0 rgba(0, 0, 0, 0.25);
}
nav.navbar .mr-right .nav-item .nav-link:hover{
    color: #000;
    background: #b6a27e;
}

nav.navbar .mr-right .nav-item.cta .nav-link{
    padding-left: 40px;
    display: inline-block;
    position: relative;
}
nav.navbar .mr-right .nav-item.cta .nav-link:before{
    content: '';
    display: block;
    width: 28px;
    height: 23px;
    background-image: url('../images/icon-discord.svg');
    background-size: contain;
    background-position: center center;

    position: absolute;
    left: 7px;
    top: 50%;
    transform: translateY(-50%);
    z-index: 99;
    vertical-align: middle;
}
nav.navbar .mr-right .nav-item.cta .nav-link span {
	display: inline-block;
}
nav.navbar .nav-stats{
    background: rgba(255,255,255,0.5);
    padding: 16px;
    font-size: 11px;
    font-weight: normal;
    border-radius: 8px;
}


@media(max-width: 1023px){
	nav.navbar .mr-right .nav-item.cta .nav-link span {
		display: none;
	}
	nav.navbar .mr-right .nav-item.cta .nav-link {
		padding-left: 29px;
	}
    nav.navbar .nav-stats{
        display: none;
    }
    .sidr-class-nav-stats{
        display: none;
    }
    
}
@media(max-width: 767px){
    nav.light:not(.sticky) img.light{
        display: none;
    }
    nav.light:not(.sticky) img.dark{
        display: block;
    }
}


/* Footer */
footer{
    padding: 140px 0;
    background-color: #18171d;
}
footer .logo{
    height: 60px;
    width: auto;
}
footer p{
    font-size: 14px;
    font-weight: normal;
    line-height: 2;
    letter-spacing: normal;
    color: #5c5c5c;
}
footer em {
	font-size: 13px;
}
footer a.f-menu-btn{
    font-size: 14px;
    font-weight: normal;
    line-height: normal;
    letter-spacing: 0.4px;
    color: #b6a27e;
    margin-bottom: 24px;
    display: inline-block;
}
footer ul{
    padding: 0;
    list-style: none;
}
footer ul li a{
    font-size: 14px;
    font-weight: normal;
    line-height: 2;
    letter-spacing: normal;
    color: #5c5c5c;
}
footer ul li a:hover{
    color: #b6a27e;
	text-decoration: none;
}
footer ul li a .fab {
	font-size: 20px;
    position: relative;
	top: 3px;
    width: 25px;
    text-align: center;
}

@media(max-width: 991px){
    footer{
        padding: 70px 0;
    }
}



/* Sidr Theme */
.sidr {
  display: block;
  position: fixed;
  top: 0;
  height: 100%;
  z-index: 999999;
  width: 260px;
  overflow-x: hidden;
  overflow-y: auto;
  font-size: 15px;
  font-weight: bold;
  letter-spacing: 0.9px;
  background: #18171d;
  color: #fff;
  padding: 0 10px;
}
.sidr .sidr-inner {
  padding: 0 0 15px;
}
.sidr .sidr-inner > p {
  margin-left: 15px;
  margin-right: 15px;
}
.sidr.right {
  left: auto;
  right: -260px;
}
.sidr.left {
  left: -260px;
  right: auto;
}
body.sidr-open nav{
    left: 260px;
}
.sidr p {
  font-size: 13px;
  margin: 0 0 12px;
}
.sidr p a {
  color: rgba(255, 255, 255, 0.9);
}
.sidr > p {
  margin-left: 15px;
  margin-right: 15px;
}
.sidr ul {
  display: block;
  margin: 0 0 15px;
  padding: 0;
}
.sidr ul li {
  display: block;
  margin: 0;
  line-height: 48px;
  border-bottom: 1px solid #5c5c5c;
}
.sidr ul li:hover, .sidr ul li.active, .sidr ul li.sidr-class-active {
  border-top: 0;
  line-height: 49px;
}
.sidr ul li a,
.sidr ul li span {
  padding: 0 15px;
  display: block;
  text-decoration: none;
  color: #fff;
}
.sidr ul li ul {
  border-bottom: 0;
  margin: 0;
}
.sidr ul li ul li {
  line-height: 40px;
  font-size: 13px;
}
.sidr ul li ul li:last-child {
  border-bottom: 0;
}
.sidr ul li ul li:hover, .sidr ul li ul li.active, .sidr ul li ul li.sidr-class-active {
  border-top: 0;
  line-height: 41px;
}
.sidr ul li ul li:hover > a,
.sidr ul li ul li:hover > span, .sidr ul li ul li.active > a,
.sidr ul li ul li.active > span, .sidr ul li ul li.sidr-class-active > a,
.sidr ul li ul li.sidr-class-active > span {

}
.sidr ul li ul li a,
.sidr ul li ul li span {
  color: rgba(255, 255, 255, 0.8);
  padding-left: 30px;
}
.sidr form {
  margin: 0 15px;
}
.sidr label {
  font-size: 13px;
}
.sidr input[type="text"],
.sidr input[type="password"],
.sidr input[type="date"],
.sidr input[type="datetime"],
.sidr input[type="email"],
.sidr input[type="number"],
.sidr input[type="search"],
.sidr input[type="tel"],
.sidr input[type="time"],
.sidr input[type="url"],
.sidr textarea,
.sidr select {
  width: 100%;
  font-size: 13px;
  padding: 5px;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  margin: 0 0 10px;
  border-radius: 2px;
  border: 0;
  background: rgba(0, 0, 0, 0.1);
  color: rgba(255, 255, 255, 0.6);
  display: block;
  clear: both;
}
.sidr input[type=checkbox] {
  width: auto;
  display: inline;
  clear: none;
}
.sidr input[type=button],
.sidr input[type=submit] {
  color: #333;
  background: #fff;
}
.sidr input[type=button]:hover,
.sidr input[type=submit]:hover {
  background: rgba(255, 255, 255, 0.9);
}

.icon_bar{
    position: fixed;
    top: 50%;
    transform: translateY(-50%);
    left: 0;
    background: rgba(255,255,255, 0.5);
    padding: 15px 10px;
    border-top-right-radius: 8px;
    border-bottom-right-radius: 8px;
}
.icon_bar a{
    display: block;
    opacity: 0.6;
}
.icon_bar a:not(:last-child){
    margin-bottom: 25px;   
}
.icon_bar a:hover{
    opacity: 1;
}
.icon_bar a img{
    width: 30px;
    height: auto;
}
@media(max-width: 767px){
    .icon_bar{
        display: none;
    }
}

#return-to-top {
    position: fixed;
    bottom: 20px;
    right: 20px;
    background: rgb(0, 0, 0);
    background: rgba(0, 0, 0, 0.7);
    width: 50px;
    height: 50px;
    display: block;
    text-decoration: none;
    -webkit-border-radius: 35px;
    -moz-border-radius: 35px;
    border-radius: 35px;
    display: none;
    -webkit-transition: all 0.3s linear;
    -moz-transition: all 0.3s ease;
    -ms-transition: all 0.3s ease;
    -o-transition: all 0.3s ease;
    transition: all 0.3s ease;
}
#return-to-top i {
    color: #fff;
    margin: 0;
    position: relative;
    left: 16px;
    top: 13px;
    font-size: 19px;
    -webkit-transition: all 0.3s ease;
    -moz-transition: all 0.3s ease;
    -ms-transition: all 0.3s ease;
    -o-transition: all 0.3s ease;
    transition: all 0.3s ease;
}
#return-to-top:hover {
    background: rgba(0, 0, 0, 0.9);
}
#return-to-top:hover i {
    color: #fff;
    top: 5px;
}